* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    background: hsl(212, 23%, 69%);

}

.container{
    display: flex;
    flex-direction: row;
    width: 900px;
    background: hsl(210, 46%, 95%);
    
}

.container__left .left__img {
   width: 300px;
   height: 300px;
   object-fit: cover;
}

.container__right{
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: hsl(214, 17%, 51%);
}
.heading {
    font-weight: 700;
    margin-bottom: 30px;
    color: hsl(217, 19%, 35%);
}

.container_right .right__prag p{
    padding: 15px;
    
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom__left {
    display: flex;
    align-items: center;
}

.bottom__left img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.details h5 {
    color: hsl(217, 19%, 35%);
}